h1{
font-family: Arial, Helvetica, sans-serif;
color: azure;
background-image: (https://cf-images.ap-northeast-1.prod.boltdns.net/v1/static/5467539667001/717744ff-3203-4bec-8719-c8d23a6de5af/aae814b8-9d0b-40af-bec0-721780c11c32/1280x720/match/image.jpg);
}

h2{
color: azure;
}

h3{
color: azure;
font-style: italic;
}

h4{
color: rgba(20, 22, 22, 0.507);

}